* {
    font-family: Bahnschrift Light, serif;
}

body {
    margin: 0;
    padding: 0;
}

/**********TOPO**********/

header {
    display: flex;
    height: 80px;
    background-color: #383838;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.top {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
    padding-left: 30px;
}

.menu ul, .menu li {
    display: flex;
}

.menu a {
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    padding-top: 38px;
    padding-bottom: 38px;
    color: #a7a7a7;
}


.menu .active {
    color: #383838;
    background-color: #a7a7a7;
}


/**********HOME**********/

section {
    height: 900px;
    display: flex;
}

#home {
    margin-top: 80px;
    width: 100%;
    display: flex;
    background: red;
}

#sobre {
    width: 100%;
    display: flex;
    background: green;
}

#portfolio {
    width: 100%;
    display: flex;
    background: blue;
}

#contato {
    width: 100%;
    display: flex;
    background: pink;
}